

.btn-delete {
    position: absolute;
    right: 0;
    margin: 1.2rem;
    z-index: 99;
    @media screen and (min-width: 768px) {
        right: auto;
        margin: 0.5rem;
    }
}

.v-card{
    height: 330px;
    border-radius: 5px;
    
}

.v-card_img {
    width: 100%;
    height: 200px;

    img {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

}