/* 
Esempio di font-face con font incluso nella stessa cartella di styles.css
@font-face {
    font-family: "MyFont";
    src: url(./MyFont.ttf);
} */

@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/JosefinSans-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/JosefinSans-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/JosefinSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/JosefinSans-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/JosefinSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/JosefinSans-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/JosefinSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/JosefinSans-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/JosefinSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "JosefinSans";
    src: url(../fonts/JosefinSans-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}


body {
    font-family: "JosefinSans";
}

p {
    font-size: 3rem;
}

.font-thin {
    font-weight: 100;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.font-italic {
    font-style: italic;
}
