button {
    border: none;
    background-color: rgb(210, 163, 203);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(210, 163, 203);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(29, 243, 132);
  }
  
  .equals:hover {
    background-color: rgb(29, 243, 132);
  }